# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Local env files
.env

# Turbo
.turbo

# Build Outputs
dist

# Debug
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Misc
*.local

# Database
.sqlite

# Cloudflare Workers
.wrangler
worker-configuration.d.ts

# TypeScript
*.tsbuildinfo